.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../image/logo-like.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0;
    flex: none;
    box-sizing: content-box;
    
}

.element__like:hover {
    opacity: .5;
    cursor: pointer;
}