.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url(../../../image/logo-pencil.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 0 7px 18px;
    padding: 0;
    border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profile__edit-button {
        width: 16px;
        height: 16px;
        margin-left: 10px;
    }
    
}